@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CustomFont';
  src: url('/public/Has.otf') format('truetype');
  /* Other font formats (woff, woff2, etc.) could also be added here */
}